[Desktop Entry]
Exec=yakuake-session -h -e ssh -- username@example.com
GenericName=SSH to username@example.com
Icon=utilities-terminal
MimeType=
Name=username@example.com
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
