[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openTerminalHere;
X-KDE-AuthorizeAction=shell_access

[Desktop Action openTerminalHere]
Name=Open terminal Here
Name[es]=Abrir terminal aquí
Name[es_ES]=Abrir terminal aquí
Icon=utilities-terminal
Exec=yakuake-session --workdir %f
#Exec=$HOME/.kde/share/kde4/services/ServiceMenus/yakuake-session --workdir %f
X-Ubuntu-Gettext-Domain=desktop_kdebase
