[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openYakuakeHere;
X-KDE-AuthorizeAction=shell_access

[Desktop Action openYakuakeHere]
TryExec=yakuake
Exec=yakuake-session --workdir %f
Icon=yakuake
X-Ubuntu-Gettext-Domain=desktop_kdebase

Name=Open Yakuake Here
Name[ru]=Открыть Yakuake в этой папке
Name[es]=Abrir Yakuake aquí
Name[es_ES]=Abrir Yakuake aquí
